/*
red: cc0000;
yellow: ffc90e;
*/

html
{
    color: black;
}

body
{
    background: #ccc;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    color: #cc0000;
}

a,
a:visited,
#main #content a.user,
#main #left-menu h3,
.post .post-id a,
.post .post-id a .cn,
.post:hover .post-id a,
.post .reply-label,
.post .more-label,
.post .info .created,
#comments .post .post-id .comment-id,
#footer #menu > div a
{
    color: #cc0000;
}

#header-wrap
{
    border-bottom-color: red;
    background: red;
}

#header #user-menu-label h1,
#header #user-menu-label span,
#user-menu a,
#user-menu a.active
{
    color: #ffc90e;
}

#user-menu
{
    background: red;
}


#subheader-wrap,
#main-wrap,
#footer
{
    background: transparent;
} 

#subheader-wrap
{
    border-bottom: none;
}

#subheader > .active
{
    color: #cc0000;
}

#subheader > .active:after,
#subheader > .active:before
{
    content: none;
}

#subheader > a,
#subheader > span
{
    color: #cc0000;
}

#main-wrap
{
    border-bottom-color: #cc0000;
}

#main #left-menu a,
#main #left-menu a:hover,
#main #left-menu a:visited
{
    color: #cc0000;
}

#main #left-menu a.active
{
    background-color: red;
    color: #ffc90e;
}

#left-menu .unread
{
    background-color: red;
    color: #ffc90e;
}

#left-menu .active .unread
{
    background-color: transparent;
}

#content h1,
#content .title h1
{
    color: #cc0000;
}

.post
{
    border-bottom-color: #cc0000;
}

.post .post-id a .unread
{
    background: #bbb;
    color: #cc0000;
    font-weight: bold;
}

.post .action-labels
{
    opacity: 0.5;
}

#comments .post.unread {
    background: #ffc90e;
    border: none;
}

a.tag,
.aside #tags .tag,
.tag-info > h1,
.tag-info > h1 a
{
    background: red;
    color: #ffc90e;
}

a.tag:before,
.tag-info > h1:before
{
    border-color: transparent red;
}

a.tag span
{
    color: #ffc90e;
}

.post .post-id a .cn
{
    border-left-color: #cc0000;
}

#top-post
{
    border-bottom-color: #cc0000;
}

#tree-switch a
{
    background: #bbb;
    color: #cc0000;
}

#tree-switch a.active
{
    background: red;
    color: #ffc90e;
}


.post .text blockquote
{
    background: red;
    color: yellow;
    border-left-color: yellow;
    padding-top: 6px;
    padding-bottom: 6px;
}

.post .text pre
{
    background: red;
    color: yellow;
}

.button,
input[type="button"],
input[type="submit"]
{
    background: red;
    color: #ffc90e;
}

.aside #counters #subs .value,
.aside #counters #readers .value,
.aside #counters #posts-count .value,
.aside #counters #comments-count .value
{
    color: #cc0000;
    text-shadow: none;
}

.aside .avatar-wrap .info
{
    background: red;
    color: #ffc90e;
}

.aside .avatar-wrap .info h1,
.aside .avatar-wrap .info .name
{
    color: inherit;
}

.aside .avatar-wrap .info .name
{
    opacity: 1;
}

#new-post-form
{
    background: #ccc;
}

#footer #menu > div a
{
    text-shadow: none;
}

#subheader > .active.user:before {
    position: static;
    display: inline;
    bottom: auto;
    left: auto;
    margin-left: 0;
    margin-bottom: 0;
    border: none;
}

#scrollToTop
{
    background: red;
    color: #ffc90e;
    border: none;
}

/***********************************
Картинки
***********************************/

#header #logo { background-image: url('./img/logo.png'); }
#header #logo { background-repeat: no-repeat; background-size: contain; min-height: 28px; }
#header #logo img { display: none; }

#header #new-post-label { background-image: url('./img/menu-new-post.png'); }

#top-post .info { background-image: url('./img/lenin.png'); background-size: contain; background-repeat: no-repeat; }
#top-post .info a img { visibility: hidden; } 

.pager #older { background-image: url('./img/garr.png'); }
.aside #tags { background-image: url('./img/icon-tags.png'); }

.post .edit-buttons .del { background-image: url('./img/btn-del.png'); }
.post.private .post-id { background-image: url('./img/icon-private.png'); background-size: 16px 16px; }

#main #left-menu #left-menu-my   { background-image: url('./img/left-menu-my.png'); }
#main #left-menu #menu-recent    { background-image: url('./img/left-menu-recent.png'); }
#main #left-menu #menu-blog      { background-image: url('./img/left-menu-blog.png'); }
#main #left-menu #menu-comments  { background-image: url('./img/left-menu-comments.png'); }
#main #left-menu #menu-messages  { background-image: url('./img/left-menu-messages.png'); }
#main #left-menu #menu-bookmarks { background-image: url('./img/left-menu-bookmarks.png'); }

#main #left-menu #menu-recent.active    { background-image: url('./img/left-menu-active-recent.png'); }
#main #left-menu #menu-blog.active      { background-image: url('./img/left-menu-active-blog.png'); }
#main #left-menu #menu-comments.active  { background-image: url('./img/left-menu-active-comments.png'); }
#main #left-menu #menu-messages.active  { background-image: url('./img/left-menu-active-messages.png'); }
#main #left-menu #menu-bookmarks.active { background-image: url('./img/left-menu-active-bookmarks.png'); }



/***********************************
Тексты
***********************************/

/* Добавляем «Товарищ» ко всем никам */
.user::before,
.aside .avatar-wrap .info h1::before,
#subheader > .active.user::before,
.post .post-content .rec .user::before
{
    content: 'Товарищ ';
}

/* Тексты левого меню */
/* Thanks for @iCat */
/* Скрываем оригиналы */
#left-menu a,
#left-menu h3
{
    padding-right: 15px !important;
    text-indent: -9999px;
}

/* Показываем бифоры */
#left-menu a::before,
#left-menu h3::before
{
    display: block;
    float: left;
    text-indent: 0;
}

/* Чистим поток */
#left-menu a::after,
#left-menu h3::after
{
    content: " ";
    display: table;
    clear: both;
}

/* Собственно тексты */
#left-menu-my::before     { content: 'Колхоз'; }           /* Моё */
#menu-recent::before      { content: 'История Революции' } /* Лента */
#menu-blog::before        { content: 'Журнал' }            /* Блог */
#menu-comments::before    { content: 'Советы товарищей'; } /* Комментарии */
#menu-messages::before    { content: 'Телеграммы' }        /* Личные сообщения */
#menu-bookmarks::before   { content: 'Памятки'; }          /* Закладки */
#pp-left-menu-all::before { content: 'Коммуналка'; }       /* Всё подряд (Point+) */

/* Для двустрочных текстов надо поправить иконки */
#main #left-menu #menu-recent { background-position: 8px 10px; }
#main #left-menu #menu-comments { background-position: 8px 11px; }

/* Все теги */
.aside #all-tags { display: inline-block; text-indent: -9999px; margin-top: 2px;  }
.aside #all-tags::before {
    float: left;
    text-indent: 0;
    content: 'Номенклатура'
}

.aside #all-tags::after {
    content: " ";
    display: table;
    clear: both;
}

.post .user.rcmd:before
{
    position: static;
    display: inline;
    width: auto;
    height: auto;
    margin: 0;
    background: none;
}

#copyright
{
    visibility: hidden;
}

#copyright::before
{
    content: '☭ 1917-2017 Международный пролетариат';
    visibility: visible;
}